<p>user-creation-form works!</p>
<ng-template #createEmployee>
  <h1>Create a new Employee</h1>
</ng-template>
<h1 *ngIf="editing; else createEmployee">Edit a Employee</h1>
<div>CurrentEmployee: {{ currentEmployee | json }}</div>
<div>Form: {{ employeeCreationForm.value | json }}</div>
<form #employeeCreationForm="ngForm">
  <div class="form-group">
    <label [hidden]="currentEmployee.firstName.length > 0" for="firstName"
      >Introduce first name</label
    >
    <input
      #firstName="ngModel"
      type="text"
      id="firstName"
      name="firstName"
      required=""
      min="10"
      placeholder="Introduce your first name"
      [(ngModel)]="currentEmployee.firstName" />
    <div class="error">
      <div *ngIf="!firstName.pristine && firstName.value.length < 5">
        Please type at least 5 characters
      </div>
    </div>
  </div>
  <div class="form-group">
    <label [hidden]="currentEmployee.lastName.length > 0" for="lastName"
      >Introduce last name</label
    >
    <input
      #lastName="ngModel"
      type="text"
      id="lastName"
      name="lastName"
      required=""
      placeholder="Introduce your last name"
      [(ngModel)]="currentEmployee.lastName" />
    <div class="error">
      <div *ngIf="!lastName.pristine && lastName.value.length < 5">
        Please type at least 5 characters
      </div>
    </div>
  </div>
  <div class="form-group">
    <label [hidden]="currentEmployee.email.length > 0" for="email"
      >Introduce your email</label
    >
    <input
      #email="ngModel"
      email
      type="email"
      id="email"
      name="email"
      required=""
      placeholder="name@domain.com"
      [(ngModel)]="currentEmployee.email" />
    <div class="error">
      <div
        *ngIf="email.dirty && !containsCertainChar(currentEmployee.email, '.')">
        The email needs at least one dot
      </div>
    </div>
  </div>
  <div class="form-group">
    <label [hidden]="currentEmployee.password.length > 0" for="password"
      >Introduce your password</label
    >
    <input
      type="password"
      id="password"
      name="password"
      placeholder="Password"
      required=""
      [(ngModel)]="currentEmployee.password" />
    <div class="password-errors"></div>
  </div>
  <div class="form-group">
    <label [hidden]="passwordConfirmation.length > 0" for="passwordConfirmation"
      >Confirm your password</label
    >
    <input
      #passwordConfirmationInput="ngModel"
      type="password"
      id="passwordConfirmation"
      name="passwordConfirmation"
      placeholder="Confirm your Password"
      required=""
      [(ngModel)]="passwordConfirmation" />

    <div class="password-confirmation-errors"></div>
  </div>
  <div class="form-group">
    <label [hidden]="currentEmployee.profileImage.length > 0" for="profileImage"
      >Profile Image Link (Optional)</label
    >
    <input
      type="text"
      id="profileImage"
      name="profileImage"
      placeholder="Profile Image Url(Optional)"
      [(ngModel)]="currentEmployee.profileImage" />
    <div class="error"></div>
  </div>
  <div class="form-group">
    <label [hidden]="currentEmployee.birthDate.length > 0" for="birthDate"
      >Birth Date</label
    >
    <input
      #date="ngModel"
      type="date"
      id="birthDate"
      name="birthDate"
      required=""
      [(ngModel)]="currentEmployee.birthDate" />
    <div class="error">
      <div *ngIf="currentEmployee.birthDate === '' && date.touched">
        Please select a date
      </div>
    </div>
  </div>
  <div class="form-group">
    <label [hidden]="getNumberOfDigits(currentEmployee.phone) > 1" for="phone"
      >Phone number (5 digits as minimum)</label
    >
    <input
      #phone="ngModel"
      type="number"
      id="phone"
      name="phone"
      required=""
      min="0"
      [(ngModel)]="currentEmployee.phone" />
    <div class="error">
      <div *ngIf="currentEmployee.phone === null">
        Please enter at least a number and don't enter letters
      </div>
      <div *ngIf="currentEmployee.phone < 0">Don't enter negative numbers</div>
      <div *ngIf="getNumberOfDigits(currentEmployee.phone) < 5 && phone.dirty">
        Please enter at least 5 digits
      </div>
    </div>
  </div>
  <div class="form-group">
    <label
      [hidden]="currentEmployee.personalSiteUrl.length > 0"
      for="personalSiteUrl"
      >Personal Site Url (Optional)</label
    >
    <input
      type="url"
      id="personalSiteUrl"
      name="personalSiteUrl"
      placeholder="Personal Site Url (Optional)"
      [(ngModel)]="currentEmployee.personalSiteUrl" />
    <div class="error"></div>
  </div>
  <div class="form-group">
    <label [hidden]="currentEmployee.about.length > 0" for="about"
      >About (Optional)</label
    >
    <input
      type="text"
      id="about"
      name="about"
      placeholder="About (Optional)"
      [(ngModel)]="currentEmployee.about" />
    <div class="error"></div>
  </div>
  <div class="form-group">
    <label
      ><input
        type="radio"
        value="male"
        checked=""
        name="gender"
        [(ngModel)]="currentEmployee.gender" />Male
    </label>
    <label
      ><input
        type="radio"
        value="female"
        name="gender"
        [(ngModel)]="currentEmployee.gender" />Female
    </label>
  </div>
  <div>
    <select
      (change)="changeStateList(currentEmployee.address.country)"
      #country="ngModel"
      name="country"
      id="country"
      required=""
      [(ngModel)]="currentEmployee.address.country">
      <option value="none" selected="true">Select a Country</option>
      <option [value]="country" *ngFor="let country of countryList">
        {{ country | titlecase }}
      </option>
    </select>
    <select
      *ngIf="country.value !== 'none' && stateList.length > 0"
      #state="ngModel"
      name="state"
      id="state"
      required=""
      [(ngModel)]="currentEmployee.address.state">
      <option value="none" [selected]="true && country.value === 'none'">
        Select a State
      </option>
      <option [value]="state" *ngFor="let state of stateList">
        {{ state | titlecase }}
      </option>
    </select>
  </div>
  <div class="form-group">
    <input #agree id="terms" name="terms" type="checkbox" />
    <label for="terms">Agree Terms and Conditions</label>
  </div>
  <div class="btn-container">
    <ng-template #createEmployeeButton>
      <button
        [disabled]="
          employeeCreationForm.invalid ||
          currentEmployee.password !== passwordConfirmation ||
          !agree.checked ||
          getNumberOfDigits(currentEmployee.phone) < 5 ||
          firstName.value.length < 5 ||
          lastName.value.length < 5 ||
          !containsCertainChar(currentEmployee.email, '.')
        "
        (click)="emitCreationNotification()">
        Create User
      </button>
    </ng-template>
    <button
      [disabled]="
        employeeCreationForm.invalid ||
        currentEmployee.password !== passwordConfirmation ||
        !agree.checked ||
        getNumberOfDigits(currentEmployee.phone) < 5 ||
        firstName.value.length < 5 ||
        lastName.value.length < 5 ||
        !containsCertainChar(currentEmployee.email, '.')
      "
      *ngIf="editing; else createEmployeeButton"
      (click)="emitUpdateNotification()">
      Update User
    </button>
  </div>
</form>
