.wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  row-gap: 30px;
  .main-section{
    flex: 0 1 420px;
  }
  .information{
    flex: 1 1 450px;
    max-width: 550px;
    display: grid;
    gap: 20px;
    h3 span{
      font-weight: 200;
    }
  }
}