<div class="grid-wrapper" *ngIf="product">
  <div *ngIf="product.image" class="img-container">
    <img [src]="product.image.url" alt="" />
  </div>
  <h3>
    Name: <span>{{ product.name }}</span>
  </h3>
  <div class="shortened-content" *ngIf="!shortenedContent">
    <div>
      <h3>
        Description: <span>{{ product.description }}</span>
      </h3>
    </div>
    <h3 *ngIf="product.category">
      Category: <span>{{ product.category.name }}</span>
    </h3>
  </div>
  <h3 *ngIf="product.master">
    Price:
    <span>{{
      product.master.price | currency : 'USD' : 'symbol' : '1.2-2'
    }}</span>
  </h3>
  <div class="like-dislike-display">
    <div class="likes">
      <i class="fa-solid fa-thumbs-up"></i>
      <span>{{ product.likes_up_count }}</span>
    </div>
    <div class="dislikes">
      <i class="fa-solid fa-thumbs-down"></i>
      <span>{{ product.likes_down_count }}</span>
    </div>
  </div>
  <h3
    [ngClass]="{
      'empty-stock': product.master.stock === 0,
      'negative-stock': negativeStock
    }"
    *ngIf="product.master">
    Stock: <span>{{ product.master.stock }}</span>
  </h3>
  <div class="buying-tools">
    <input
      class="cart-quantity-input"
      (change)="updateStockClass()"
      #quantity
      type="number"
      placeholder="Number of Items"
      value="1" />
    <button class="cart-addition" (click)="onCartAddition()">
      Add to cart
    </button>
  </div>
</div>
