<p>employee-viewer works!</p>
<div>
  <img
    [src]="
      currentEmployee.profileImage !== ''
        ? currentEmployee.profileImage
        : currentEmployee.gender === 'male'
        ? defaultManPicture
        : defaultWomanPicture
    "
    [alt]="currentEmployee + '.png'" />
  <div>
    <h3>First Name</h3>
    <p>{{ currentEmployee.firstName | titlecase }}</p>
  </div>
  <div>
    <h3>Last Name</h3>
    <p>{{ currentEmployee.lastName | titlecase }}</p>
  </div>
  <div>
    <h3>Email</h3>
    <p>{{ currentEmployee.email }}</p>
  </div>
  <div>
    <h3>Gender</h3>
    <p>{{ currentEmployee.gender | titlecase }}</p>
  </div>
</div>
<div *ngIf="!shortenedContent">
  <div>
    <h3>Birth Date</h3>
    <p>{{ currentEmployee.birthDate | date : 'longDate' }}</p>
  </div>
  <div>
    <h3>Phone Number</h3>
    <p>{{ currentEmployee.phone }}</p>
  </div>
  <div>
    <h3>Personal Site Url</h3>
    <a
      [href]="
        currentEmployee.personalSiteUrl === ''
          ? '#'
          : currentEmployee.personalSiteUrl
      "
      >{{ currentEmployee.personalSiteUrl }}</a
    >
  </div>
  <div>
    <h3>About</h3>
    <p>
      {{
        currentEmployee.about !== ''
          ? currentEmployee.about
          : 'No information provided'
      }}
    </p>
  </div>
  <div>
    <h3>Country:</h3>
    <p>
      {{
        (currentEmployee.address.country === 'none'
          ? 'Unknown'
          : currentEmployee.address.country
        ) | titlecase
      }}
    </p>
  </div>
  <div>
    <h3>State:</h3>
    <p>
      {{
        (currentEmployee.address.state === 'none'
          ? 'Unknown'
          : currentEmployee.address.state
        ) | titlecase
      }}
    </p>
  </div>
</div>
<div>
  <button (click)="redirectToUserEdition()">Edit this user</button>
</div>
<div>
  <button (click)="deleteAndRedirectToEmployeeDashboard()">
    Delete this user
  </button>
</div>
