<p>hamburger-interaction-tools works!</p>
<select name="currency" id="currency" (change)="updateCurrency($event)">
  <option
    *ngFor="let currency of currencies | keyvalue"
    [value]="currency.value.conversionRate">
    {{ currency.key }}
  </option>
</select>
<table>
  <tr>
    <th>Name</th>
    <th>Units</th>
    <th>Total</th>
  </tr>
  <tr *ngFor="let ingredient of ingredientsController">
    <td>{{ ingredient.type }}</td>
    <td>{{ ingredient.units }}</td>
    <td>
      {{
        ingredientsPricing.get(ingredient.type) *
          ingredient.units *
          conversionRate
      }}
      <!-- Piping Missing -->
    </td>
  </tr>
</table>
