.flex-wrapper{
  display: flex;
  h3{
    position: relative;
    &.required::after{
      position: absolute;
      content: "*";
      color: red;
      top: 0;
      right: -15px;
    }
  }
}
label{
  margin-left: 8px;
}