@import "../../../../colors";

.menu-container{
  &.active{
    border: 2px solid $navy-blue;
    background-color: $light-sky-blue;
    box-shadow: 3px 6px 10px $twilight-shadow;
  }
}
.grid-wrapper{
  display: grid;
  gap: 15px;
}