<div class="current-hamburger-container">
  <app-hamburger-ingredient
    *ngFor="let ingredient of currentBurger.ingredients"
    [type]="ingredient"></app-hamburger-ingredient>
  <app-hamburger-interaction-tools
    [currentBurger]="currentBurger"
    [ingredientsController]="ingredientsControl"
    [totalIngredientsControl]="totalIngredientsControl"
    (childEventEmitter)="handleAdditionOrRemoval($event)"
    (otherEventEmitter)="handleOrder($event)"></app-hamburger-interaction-tools>
</div>
