@import "../../../../colors";
.title {
  padding-top: 22px;
  color: $navy-blue;
}
#user-form{
  padding: 20px 0;
  display: grid;
  gap: 24px;
}
.error{
  color: red;
  text-align: center;
  display: block;
}
.flex-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 20px;
  row-gap: 10px;
  position: relative;
  label.description{
    flex: 0 1 220px;
    position: relative;
    &.required::after{
      content: "*";
      color: red;
      position: absolute;
      top: 50%;
      right: 5px;
      transform: translate(0,-50%);
    }
  }
  input:not([type=checkbox]){
    position: relative;
    border-radius: 5px;
    text-align: center;
    flex: 1 1 200px;
    height: 35px;
    margin-right: 15px;
  }
  &.required::after{
    content: "*";
    color: red;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translate(0,-50%);
  }
  &.gender-selector{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    label{
      input{
        margin: 0;
      }
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }
  &.agree-terms{
    gap: 10px;
    justify-content: center;
  }
}
.select-container{
  display: flex;
  justify-content: center;
  .select-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    position: relative;
    &::after{
      content: "*";
      color: red;
      position: absolute;
      top: 50%;
      right: -15px;
      transform: translate(0,-50%);
    }
    select{
      height: 35px;
      padding: 4px 10px;
      color: $light-purple;
      background-color: $navy-blue;
      border-radius: 5px;
      border: none;
      &:focus{
        background-color: white;
        color: $twilight;
        box-shadow: 3px 5px 10px $main-color-shadow;
        border: none;
      }
    }
  }
}
.btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  button{
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    color: $navy-blue;
    font-weight: 700;
    font-size: 15px;
    &:disabled{
      cursor: not-allowed;
    }
    &:not(:disabled){
      cursor: pointer;
      background-color: $light-purple;
      &:hover{
        color: $twilight;
        background-color: $light-sky-blue;
        box-shadow: 3px 6px 6px $main-color-shadow;
      }
    }
  }
}
label.required,
select.required{
  position: relative;
  &::after{
    content: "*";
    color: red;
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translate(0,-50%);
  }
}