@import "../../colors";
div{
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 30px 110px;
  .error{
    color: red;
  }
  a{
    max-width: 250px;
    cursor: pointer;
    text-align: center;
    padding: 8px 14px;
    // text-decoration: none;
    font-size: 18px;
    color: $secondary-blue;
    border-radius: 5px;
    &.active {
      color: $light-purple;
      background-color: $navy-blue;
      box-shadow: 3px 6px 6px $main-color-shadow;
    }
    &:hover{
      color: $twilight;
      background-color: $light-sky-blue;
      box-shadow: 3px 6px 6px $main-color-shadow;
    }
  }
}

@media screen and (max-width: 720px) {
  div{
    padding: 30px;
  }
}