/* You can add global styles to this file, and also import other style files */
@import "./colors";

*{
  padding: 0;
  margin: 0;
  font-family: figtree, sora;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
html, body { height: 100%; }

//Angular Material
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.blue-snackbar {
  background: $navy-blue;
  color: white;
  box-shadow: 3px 6px 10px $main-color-shadow;
}
.red-snackbar {
  background: #F44336;
  color: white;
  box-shadow: 3px 6px 10px $burgundy-shadow;
}