.cart-preview-menu-container{
  position: relative;
  div{
    &.active{
      background-color: rgba(#000000, 0.3);
    }
  }
  header{
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
    background-color: pink;
    position: sticky;
    top: 0;
  }
}